@import "../assets/shared";

.hidden { display: none !important; }

// -----------

html, body {
  width: 470px;
  min-height: 300px;

  font-size: 12px;
  padding: 0;
  margin: 0;
  overflow: hidden;
  font-family: sans-serif;
  background-color: $ff-grey-10;
}

html, body, .authenticated, .authentication {
  height: 100%;
}

.authentication {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  padding: 20px 0;

  button {
    padding: 1rem 2rem;
    background-color: $ff-blue-50;
    border: 1px solid;
    border-radius: 4px;
    color: white;
    font-size: 1.2rem;
    cursor: pointer;

    max-width: 80%;

    &:hover {
      background-color: $ff-blue-60;
    }

    &:active {
      background-color: $ff-blue-70;
    }
  }

  .bottom {
    padding: 1rem 2rem;
    color: $ff-secondary-text;

    a {
      color: $ff-secondary-text;
      &:hover {
        color: $ff-blue-70;
      }
    }
  }
}

.authenticated {
  display: flex;
  flex-direction: column;
}

.list-component {
  flex: 1;

  width: 100%;
  margin: 0;
  padding: 0;
  list-style-type: none;
  overflow-y: scroll;

  // Move up since the main-loader is 2px high and is moved up on 2px
  // (onto the top-actions container)
  position: relative;
  top: -2px;

  .item {
    margin: 0;
    position: relative;
    padding: 0.5rem 0.1rem 0.2rem 0.1rem;
    border-bottom: 1px solid #eee;
    height: 3.5rem;

    &.favorite {
      background-color: $favorite-bg;
    }

    span {
      display: inline-block;
      width: 95%;
      margin-left: 0.5rem;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      line-height: 1.1;
    }

    .favicon {
      height: 1.3rem;
      width: 1.3rem;
      max-height: 16px;
      max-width: 16px;
      margin-right: 0.5rem;
      vertical-align: middle;
      position: relative;
      top: -0.1rem;
      border-radius: 2px;
    }

    .title {
      height: 1.5rem;

      color: $ff-grey-70;
      font-size: 1.2rem;
      font-weight: bold;

      cursor: pointer;
    }

    .url {
      height: 1.1rem;
      position: relative;
      top: -2px;

      font-size: 0.75rem;
      color: $ff-secondary-text;

      cursor: pointer;
    }


    &:hover .title {
      color: $ff-grey-90;
    }

    overflow: hidden;
    opacity: 1;
    // second duration is the delay after which the transition must begin
    transition: height 250ms, padding 250ms, opacity 0s 200ms, border-bottom-width 0s 240ms;

    // When the item is visually disappearing from the list
    &.disappearing {
      height: 0px;
      padding: 0;
      opacity: 0;
      border-bottom-width: 0px;
    }

    // Removing: when the "delete/archive" button has been clicked and the spinner is spinning,
    // we maintain the visibility of its actions container (so that user keep on seeing the
    // spinning spinner during the deletion)
    &:hover .actions-container,
    &.removing .actions-container {
      opacity: 1;
      transition: opacity 300ms ease-out;
    }

    .actions-container {
      opacity: 0;
      transition: opacity 300ms ease-out;
      z-index: 1;

      position: absolute;
      top: 0;
      right: 0;
      width: 10rem;
      height: 100%;
      background-color: transparentize($ff-grey-20, 0.2);
      border-left: 1px solid #ddd;

      display: flex;
      flex-direction: row;

      .favorite-action, .tick-action, .delete-action {
        cursor: pointer;
        flex: 1;
        opacity: 0.8;

        // So that tick/loader are automatically centered
        display: flex;
        justify-content: center;
        align-items: center;

        &:hover {
          opacity: 1;
        }

        .icon {
          color: $ff-primary-text;
          font-size: 1.5rem;
        }

        .loader {
          height: $loader-size;
          width: $loader-size;
          animation: rotate 0.8s infinite linear;
          border: 0.3rem solid #444;
          border-radius: 50%;
          border-right-color: transparent;
        }
      }

      .favorite-action:hover {
        background-color: $favorite-action;
      }

      .tick-action:hover {
        background-color: transparentize($pocket-aqua, 0.4);
      }

      .delete-action:hover {
        background-color: transparentize($pocket-red, 0.4);
      }
    }
  }
}


$top-actions-height: 2.8rem;

.search-no-results {
  flex: 1;

  width: 100%;
  margin: 0;
  padding-top: 2rem;
  text-align: center;

  font-size: 1.5rem;
  font-weight: bold;
  color: $ff-grey-80;
}


.top-actions {
  flex: initial;

  display: flex;
  flex-direction: row;
  align-items: center;

  height: $top-actions-height;
  padding: 0.5rem 0;

  background-color: $ff-ink-90;
  background-color: $my-dark-blue;

  .top-icon {
    flex: initial;
    display: inline-block;
    cursor: pointer;
    font-size: 1.9rem;
    color: white;

    opacity: 0.8;
    transition: opacity 200ms ease-out;

    width: 2rem;
    margin-right: 0.4rem;

    &:first-child {
      margin-left: 0.4rem;
    }

    &:hover {
      opacity: 1;
      transition: opacity 200ms ease-out;
    }

    &.random-item {
      font-weight: bold;
    }

    // This icon is separated from the other "item lists" action
    // hence a large right margin
    &.filter-faved {
      position: relative;
      margin-right: 2rem;

      &.on {
        .badge-on {
          display: block;
        }
      }
      &.off {
        .badge-off {
          display: block;
        }
      }

      .badge-wrapper {
        display: none;

        position: absolute;
        right: 0.2rem;
        bottom: 0.2rem;

        color: white;
        border-radius: 50% 50%;
        height: 1.0rem;
        width: 1.0rem;
        line-height: 1.0rem;
        font-size: 0.9rem;
        text-align: center;

        &.badge-on { background-color: $ff-green-60; }
        &.badge-off { background-color: $pocket-red; }
      }
    }
  }

  .filter-items-container {
    position: relative;
    flex: 1;
    margin-right: 0.2rem;

    .clear-search-box {
      position: absolute;
      top: -0.35rem;
      right: 0.15rem;
      color: black;
      opacity: 0.2;
      font-size: 2.2rem;
      cursor: pointer;
    }

    .filter-items {
      width: 100%;
      padding: 0.4rem 1rem;
      height: 2rem;

      background-color: transparentize(white, 0.3);
      border-radius: 1rem;
      border: 0px transparent;
      color: $ff-grey-80;
      font-size: 1.1rem;
      outline: none;
    }
  }
}


/*
 * Thanks to Che for this example: http://codepen.io/code_dependant/pen/ciGLA?editors=1100
 */
.main-loader {
  flex: initial;

  position: relative;
  top: -2px;
  height: 2px;
  width: 100%;
  background-color: transparent;

  &.loading:after {
    content: '';
    position: absolute;
    display: block;
    height: 100%;
    background-color: $pocket-aqua;
    left: 0%;
    right: 100%;

    animation: linear-loading 1.2s ease infinite;
  }
}

.flash-overlay {
  flex: initial;

  z-index: 3;
  display: block !important;
  position: absolute;
  top: $top-actions-height;
  width: 100%;
  opacity: 1;
  transition: height 200ms ease-out, opacity 200ms ease-out;

  padding: 1rem;

  font-size: 1.2rem;
  line-height: 1.4;
  text-align: center;

  &.error {
    background-color: transparentize($ff-red-50, 0.1);
    color: white;
  }
  &.notice {
    background-color: transparentize($notice-blue, 0.1);
    color: $ff-grey-80;
  }
  &.success {
    background-color: transparentize($ff-green-60, 0.2);
    color: $ff-grey-80;
  }

  &.hidden {
    // Needed to counter the 'display:none' of the .hidden class. Without this, the overlay
    // display goes from block to none, and is hidden all at once
    display: block !important;

    height: 0px;
    opacity: 0;
    transition: height 250ms ease-out, opacity 0 250ms ease-out;

    // Let's make sure the item really takes no space in the popup, or it will
    // prevent clicking on the first item of the list
    padding: 0px;
    line-height: 0;
  }
}



.pagination {
  flex: initial;

  z-index: 2;
  height: 30px;
  line-height: 30px;
  display: flex;
  flex-direction: row;

  font-weight: bold;
  color: $ff-grey-80;

  .pagination-previous, .pagination-next {
    flex: 1;
    text-align: center;
    cursor: pointer;

    &:hover {
      background-color: $ff-grey-20;
    }

    &.disabled, &.disabled:hover {
      opacity: 0.4;
    }
  }

  .pagination-page-selector {
    // On popup opening, the selector is hidden
    display: none;

    flex: initial;
    padding-left:  0.5rem;
    padding-right: 0.5rem;
    text-align: center;
  }
}


// -----------------------

// Dealing with the popup width in case it's pinned to overflow menu
// Apparently, overflow menu width must be around 425px atm

@media (max-width: 400px) {
  html, body {
    max-width: 100%;
  }
}
